**venv
**.bender
target/sim/vsim/work/
sw/build/
golden-model/**/txt/
target/sim/vsim/vsim.wlf
sw/inc/*
.bender/** */
target/sim/vsim/transcript**
rtl/work/
vendor/** 
sw/inc/
rtl/vsim.wlf
target/sim
golden-model/common/
golden-model/mxfp-main-asap25-linear/**
golden-model/mxfp-main-golden-Gamze/**
work

**.md